.pagemarques-class-input, .pagemarques-number-label-input{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}


.pagemarques-class-input input, .pagemarques-number-label-input input{
    width: fit-content;
}

.pagemarques-class-input label, .pagemarques-number-label-input label{
    margin-bottom: 0.5rem;
}

.pagemarques-radio-input{
    display: flex;
    align-items: center;
    margin-right: 1.5rem;
}

.pagemarques-radio-input input{
    margin-right: 1rem;
}

.pagemarques-radio-input input:checked + label{
    font-weight: bold;
}

.pagemarques-radio-inputs-container{
    display: flex;
    align-items: center;
}

.pagemarques-fieldset legend{
    margin-bottom: 0.5rem;
}

.pagemarques-fieldset + .pagemarques-number-label-input{
    margin-top: 1rem;
}

.pagemarques-color-input{
    margin-block: 1rem;
}

.pagemarques-color-input label{
    margin-left: 1rem;
    white-space: nowrap;
    display: block;
    margin-left: 0;
    margin-bottom: 0.5rem;
}

.pagemarques-color-input > div{
    display: flex;
}

.pagemarques-hidden{
    display: none;
}

.pagemarques-admin-main-container{
    display: flex;
    padding: 1rem;
}

.pagemarques-admin-main-container > div:last-child{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    padding-block: 3rem;
    margin-left: 2rem;
}

.pagemarques-admin-main-container h1{
    margin-bottom: 2rem;
}

.code-container {
    position: relative;
    display: inline-block;
    background: #f5f5f5;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.code-container:hover {
    background: #e1e1e1;
}

.tooltip {
    visibility: hidden;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Position the tooltip above the text */
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip::after {
    content: "";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

@media screen and (max-width: 800px){
    .pagemarques-admin-main-container{
        flex-direction: column;
    }
    .pagemarques-admin-main-container > div:last-child{
        margin-left: 0;
    }
}

